@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/*import css variables*/

@import url(./partials/_variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
}


/*
body {
    background-color: white;
    max-width: 1920px;
}
*/


/*
.wrapper {
    display: flex;
    position: relative;
}
*/

.wrapper .sidebar {
    width: 17vw;
    height: 100%;
    background: black;
    /*padding: 30px 0px;*/
    position: fixed;
    filter: drop-shadow(20px 0px 10px #C4C4C4);
}

.navbar-words.active,
.wrapper .sidebar span.navbar-words:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.wrapper .sidebar span.navbar-words {
    color: var(--white-text-color);
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

a,
a:hover {
    text-decoration: none;
}


/*
.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
*/

.wrapper .sidebar ul li a {
    margin-left: auto;
    margin-right: auto;
}


/*
.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}*/


/*
.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: inline-block;
    text-align: top;
    align-items: top;
}

*/


/*
.wrapper .sidebar ul li a .fas {
    width: 25px;
}
*/

hr {
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid white;
}


/*
//.wrapper .sidebar ul li:hover {
    background-color: #594f8d;
} 
*/

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .main_content {
    width: 1720px;
    margin-left: 200px;
}

.sidefont1 {
    font-weight: bold;
    font-size: 24px;
    color: white;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

.img-code-1 {
    position: absolute;
    top: 150px;
    left: 25%;
    width: 1010px;
    height: 250px;
    background-image: url(/static/img/img_code1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.img-code-1:hover {
    background-image: url(/static/img/img_code1.jpg);
    opacity: 0.9;
}

.img-code-2 {
    position: absolute;
    top: 150px;
    left: 25%;
    width: 1010px;
    height: 250px;
    background-image: url(/static/img/img_code2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.img-code-2:hover {
    background-image: url(/static/img/img_code2.jpg);
    opacity: 0.9;
}

.img-text {
    position: absolute;
    left: 5%;
    top: 10%;
    font-size: 28pt;
    color: white;
}

.box1 {
    position: absolute;
    width: 513px;
    height: 166px;
    left: 828px;
    background: linear-gradient(90deg, #3377FF 0%, #66B3FF 97.95%);
    box-shadow: 5px 5px 10px #3377FF;
    border-radius: 25px;
    text-align: center;
    padding-top: 55px;
}

.box1:hover {
    opacity: 0.92;
}

.boxdesc {
    font-size: 36px;
    color: white;
}

.topleftbar {
    position: absolute;
    width: 1720px;
    height: 78px;
    top: 0px;
    background: #66B3FF;
    box-shadow: 0px 5px 10px #66B3FF;
}

.topleftbardesc {
    position: absolute;
    left: 70px;
    top: 35px;
    font-size: 26pt;
    color: rgb(31, 31, 31);
}

.questionForm {
    position: absolute;
    width: 1009px;
    height: 767px;
    left: 618px;
    top: 166px;
    padding-left: 35px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 25px;
}

.questionDesc {
    position: absolute;
    width: 215px;
    height: 42px;
    top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.formInputs {
    position: absolute;
    top: 110px;
}

.inputsizing {
    margin-top: 17px;
    width: 927px;
    height: 67px;
    background: #FFFFFF;
    border: 1px solid #FF0000;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px #FF0000;
    border-radius: 25px;
    font-size: 15pt;
}

.inputs {
    margin-top: 17px;
    width: 927px;
    height: 67px;
    background: #FFFFFF;
    border: 1px solid #0094FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #0094FF;
    border-radius: 25px;
    font-size: 15pt;
}

.correctInput {
    margin-top: 17px;
    width: 927px;
    height: 67px;
    background: #FFFFFF;
    border: 1px solid #05FF00;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px #05FF00;
    border-radius: 25px;
    font-size: 15pt;
}

.endbtnBox {
    position: absolute;
    width: 181px;
    height: 68px;
    left: 30px;
    top: 530px;
    padding-top: 19px;
    text-align: center;
    margin-left: 20px;
    background: linear-gradient(90deg, #3377FF -6.21%, #66B3FF 100%);
}

.endbtnboxDesc {
    font-family: Roboto;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: white;
}

.button {
    background: linear-gradient(90deg, #3377FF 0%, #66B3FF 100%);
    border: 1px solid rgb(44, 195, 255);
    width: 150px;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px 15px;
}

.btnSubmit {
    background: linear-gradient(90deg, #3377FF -6.21%, #66B3FF 100%);
    color: white;
}

.btnDesc {
    background: white;
    color: rgb(44, 195, 255);
}

.btnDesc:hover {
    background: linear-gradient(90deg, #3377FF 0%, #66B3FF 100%);
    color: white;
}

.titleCtnr {
    position: absolute;
    width: 724px;
    height: 143px;
    left: 740px;
    top: 120px;
    border-width: 1px;
    text-align: center;
    padding-top: 60px;
    font-size: 29px;
    color: black;
    box-shadow: 5px 5px 10px #2b2b2b;
    background-color: white;
}

.titleBox {
    position: absolute;
    width: 80%;
    margin-left: 5%;
    height: 700px;
    top: 200px;
    z-index: -1;
    border-width: 1px;
    text-align: center;
    padding-top: 60px;
    font-size: 29px;
    color: black;
    box-shadow: 5px 5px 10px #2b2b2b;
}

.titleBoxContent {
    max-width: 100%;
    margin-top: 50px;
    padding-left: 70px;
    font-size: 25px;
    color: black;
    text-align: left;
}

hr {
    margin-top: 10px;
    max-width: 95%;
}