@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/*import css variables*/

@import url(./partials/_variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    overflow: hidden;
}


/*
body {
    background-color: white;
    max-width: 1920px;
}
*/


/*
.wrapper {
    display: flex;
    position: relative;
}
*/

.wrapper .sidebar {
    height: 100vh;
    background: black;
    /*padding: 30px 0px;*/
    filter: drop-shadow(20px 0px 10px #C4C4C4);
}

.navbar-words.active,
.wrapper .sidebar span.navbar-words:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.wrapper .sidebar span.navbar-words {
    color: var(--white-text-color);
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

a,
a:hover {
    text-decoration: none;
}


/*
.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
*/

.wrapper .sidebar ul li a {
    margin-left: auto;
    margin-right: auto;
}


/*
.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}*/


/*
.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: inline-block;
    text-align: top;
    align-items: top;
}

*/


/*
.wrapper .sidebar ul li a .fas {
    width: 25px;
}
*/

hr {
    margin-left: auto;
    margin-right: auto;
}


/*
//.wrapper .sidebar ul li:hover {
    background-color: #594f8d;
} 
*/

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .main_content {
    width: 1720px;
    margin-left: 200px;
}

.sidefont1 {
    font-weight: bold;
    font-size: 24px;
    color: white;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

.topleftbar {
    z-index: 1;
    height: 78px;
    top: 0px;
    background: #66B3FF;
    box-shadow: 0px 5px 5px #66B3FF;
}

.topleftbardesc {
    position: absolute;
    left: 70px;
    top: 35px;
    font-size: 26pt;
    color: rgb(31, 31, 31);
}

hr {
    max-width: 100%;
    border: 1px solid black;
}

h3 {
    margin: 30px 0px 0px 20px;
}