/*import fonts from fonts.css file*/

@import url(/static/fonts.css);

/*import global styling*/

@import url(/static/_global.css);
div.circle {
    position: absolute;
    width: 4vw;
    height: 8vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: var(--gradient-color);
    color: var(--black-text-color);
    box-shadow: var(--box-shadow);
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-color: var(--black-text-color);
    font-weight: bold;
}

div.box-shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

div.quiz-room-scroll {
    overflow-y: auto;
    height: 100vh;
}

div.quiz-title h5,
div.progress-word h6,
div.group-assigned p,
div.quiz-code p,
div.create-room-word h5 {
    font-family: var(--roboto);
    font-weight: bold;
}

.hidden-id {
    display: none
}


/*hidden form*/

.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contents {
    height: 50vh;
    width: 50vw;
    background-color: white;
    text-align: center;
    position: relative;
    border-radius: 4px;
}


/*
input {
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}
*/

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.hidden-delete-confirmation {
    display: none
}