/*import css variables*/

@import url(./partials/_variables.css);

/*import fonts from fonts.css file*/

@import url(./fonts.css);

/*import global styling*/

@import url(./_global.css);
body {
    width: 100%;
    height: 100%;
    font-family: var(--roboto);
    align-items: center;
    background-color: black;
    overflow-x: hidden;
}

.blackWords {
    color: black;
}

.white-nav-bar {
    background-color: white;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.contextHome {
    color: var(--white-text-color);
}

.contextHome .navbar-nav .nav-item a {
    color: var(--white-text-color);
}

.contextHome .navbar-nav .nav-item a.active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contextHome .navbar-nav .nav-item a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

a.nav-link {
    font-size: 1.5em;
    color: var(--white-text-color);
}

.contextHome .firstPageRow2 {
    position: absolute;
    left: 50%;
    top: 50%;
    /*Instead putting font-size to 6em scalling will be better to avoid newline*/
    transform: translate(-50%, -50%);
}

.contextHome .firstPageRow2 h1 {
    overflow: hidden;
}

.contextHome .firstPageRow2 h1.fprwords span.experience {
    display: inline-block;
}

.contextHome .firstPageRow1 {
    position: absolute;
    left: 15%;
    top: 30%;
}

.fprwords {
    color: var(--white-text-color);
}

.contextHome .firstPageRow3 {
    color: var(--white-text-color);
    position: absolute;
    right: 15%;
    top: 62%;
}

.contextHome .firstPageRow3 span.text,
.contextHome .firstPageRow3 span.typing {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contextHome .firstPageRow1::after {
    content: "";
    top: 50%;
    position: absolute;
    width: 68vw;
    height: 1px;
    background: var(--white-text-color);
    display: inline-block;
    z-index: -2;
}

.contextHome .firstPageRow3::before {
    content: "";
    top: 50%;
    position: absolute;
    width: 28vw;
    height: 1px;
    background: var(--white-text-color);
    display: inline-block;
    z-index: -2;
}

.contextHome .firstPageRow1 span {
    background: black;
}

.contextHome .firstPageRow3 span {
    background: black;
}

.contextHome .buttons-position {
    position: absolute;
    right: 15%;
    top: 79%;
}

.contextHome .scroll-words-position {
    position: absolute;
    right: 15%;
    top: 90%;
}

.contextHome .scroll-words-position h6 {
    color: var(--white-text-color);
}

.contextHome {
    height: 100vh;
}

.contextFeatures {
    height: 100vh;
    background: white;
    justify-content: center;
    margin: auto;
}

.contextFeatures .feature-1 {
    position: absolute;
    top: 120%;
    left: 15%;
}

.contextFeatures .feature-2 {
    position: absolute;
    top: 160%;
    left: 15%;
}

.contextFeatures .container .card-position1,
.contextFeatures .container .card-position {
    margin: auto;
}

.contextTeam {
    height: 100vh;
    background: white;
    justify-content: center;
    margin: auto;
}

.contextTeam .team-container {
    position: absolute;
    top: 220%;
    left: 15%;
}

.contextTeam .card-position {
    margin: 0% 10%;
}

.contextTeam .team-image {
    height: 335px;
    display: inline-block;
    vertical-align: top;
}

.contextTeam .team-image img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-right: 66%;
}

footer {
    box-shadow: 0 50vh 0 50vh #000;
}