/* This css file is responsible for all reports css. (Report Summary, Question Summary)*/

.titleCtnr {
    width: 724px;
    height: 143px;
    border-width: 1px;
    text-align: center;
    padding-top: 60px;
    font-size: 29px;
    color: black;
    box-shadow: 5px 5px 10px #2b2b2b;
    background-color: white;
}

.titleBox {
    width: 82vw;
    height: 70vh;
    position: absolute;
    top: 280px;
    margin-left: 100px;
    border-width: 1px;
    text-align: center;
    padding-top: 60px;
    font-size: 29px;
    color: black;
    box-shadow: 5px 5px 10px #2b2b2b;
}

.titleBoxContent {
    max-width: 100%;
    font-size: 25px;
    color: black;
    text-align: left;
}

b {
    color: black;
}

td.question-id {
    display: none;
}

th.change-question-color:hover {
    text-decoration: underline;
    color: red;
}