{% extends "topTitle.html" %} {% block title %} {% endblock %} {% block createQuestion %}


<div class="questionForm">
    <div>
        <b class="questionDesc">Question: </b>
    </div>
    <form class="formInputs" method="POST">
        {{form.csrf_token}} {{form.question(class_="inputsizing")}} {{form.answer1(class_="inputs")}} {{form.answer2(class_="inputs")}} {{form.answer3(class_="inputs")}} {{form.answer4(class_="inputs")}} {{ form.correct_answer(class_="inputs") }}


        <div class="endBar" style="width:95%; height:80px;margin-top:30px;">

            {{form.submit(class_="button btnSubmit")}} {{form.delete(class_="button btnDesc",formnovalidate=True)}} {{form.cancel(class_="button btnDesc",formnovalidate=True)}}
        </div>
    </form>

</div>

</div>

</div>

{% endblock %}