{% extends "topTitle.html" %} {% block instruction2 %}

<div class="row  pt-3 pb-3  mx-4">
    <div class="container col-6 " style=" height:100vh ">

        <div class="text-center " style="height: 45vh;">
            <div class="spinner-grow text-primary " role="status ">
                <span class="visually-hidden ">Loading...</span>
            </div>
            <img src="{{ url_for( 'handRealtime2') }} ">

        </div>

        <div class="text-center ">
            <a type="submit" class="btn btn-outline-primary" name="submit" value="Mode1" href="{{url_for('instruction')}}">Change to Mode 1</a>
            <a type="submit" class="btn btn-outline-primary " name="submit " value="Begin1" href="{{url_for('answering')}}">Start With Mode 2</a>
        </div>





    </div>
</div>



{% endblock %}