{% extends "layout.html" %} {% block title %} {% endblock %} {% block content %}

<section class="Login" id="">


    <div class="login-container">

        <span>
            <div class="container">
               
                    <div class="row">
                        <div class="col-4" style="background-color: yellow; " >
                            <h1>left </h1>
                        </div>

                        <div class="col-1 vertical-line" style="background-color: green;"> 
                            
                        
                        </div>

                        <div class="col-8" style="background-color: blue;">
                            <h1>right </h1>
                        </div>
             
                     </div>
     
    </div>
    </span>
    </div>


</section>
{% endblock %}