{% extends "topTitle.html" %} {% block title %} {% endblock %} {% block questionSummary %}

<form method="POST" class="mt-2 mx-5 px-5" style="width: 75vw;">
    <div class="form-group row  justify-content-center">
        <label class="col-2 col-form-label  ">Select a question to edit :</label>
        <div class="col-3">
            <input type="text" name="question-list-question" class="form-control" id="question-list-question" placeholder="Select Your Question to Edit" disabled> {% with quizroom_invalid_error = get_flashed_messages(category_filter=["quizroom_invalid_error"])
            %} {% for message in question_invalid_error %}
            <p style="color:red;">{{message}} </p>
            {% endfor %}{% endwith %}
        </div>

        <div class="col-3">
            <button type="submit" class="btn btn-outline-primary " name="submit" value="Edit">Edit</button>
        </div>


        <input type="hidden" name="question-list-id" id="hidden-field-id-input"></input>

    </div>


</form>

<div class="titleCtnr " style="margin-left: auto ; margin-right: auto;"> <b>My Question</b></div>

<div class="titleBox " style="margin-left: auto; margin-right: auto; overflow-y: auto;">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Option 1</th>
                <th scope="col">Option 2</th>
                <th scope="col">Option 3</th>
                <th scope="col">Option 4</th>
                <th scope="col">Correct Answer</th>
            </tr>
        </thead>
        <tbody>

            {% if questions.question_set is not none %} {% for question in questions.question_set %}
            <tr class="table-list-content" style="cursor: pointer;">
                <th scope="row" class="question-list change-question-color">{{ question.question | truncate(20,true)}}</th>
                <td class="question-id">{{question._id}}</td>
                <td>{{question.answer1}}</td>
                <td>{{question.answer2}}</td>
                <td>{{question.answer3}}</td>
                <td>{{question.answer4}}</td>
                <td>{{question.correct_answer}}</td>
            </tr>

            {% endfor %}{% endif %}

        </tbody>
    </table>

    <!--TODO: change this icon to svg-->
    <form method="post">
        <button type="submit" name="submit" value="add" class="plusIcon" style="border: none; background-color: white;"><img src="/static/img/plus.jpg" style="display: block;margin-left: auto;margin-right: auto; margin-top:20px;"></button>
    </form>

</div>
</div>
{% endblock %}