{% extends "topTitle.html" %} {% block title %} {% endblock %} {% block quiz%} {% if type =="admin" %}
<a href="{{url_for('questionSummary')}}">
    <div class="box1" style="top:180px"> <b class="boxdesc">My Question</b></div>
</a>
{% else %}
<a href="{{url_for('instruction')}}">
    <div class="box1" style="top:180px"> <b class="boxdesc">My Answer</b></div>
</a>
{% endif %}

<a href="{{url_for('reportSummary')}}">
    <div class="box1" style="top:420px"> <b class="boxdesc">Report</b></div>
</a>




{% endblock %}