{% extends "topTitle.html" %} {% block SmartQuiz %}


<div class="row quiz-room-scroll pt-4 pb-5">
    <a href="{{url_for('quizMenu')}}">
        <div class="col-4 ">

            <div class="card border-secondary mb-3 mx-5 " style="max-width: 20rem; border-radius: 5%; ">
                <div class="card-header " style="height: 13vh; ">
                    <div class="row ">
                        <div class="col-10 " style="background-color: aqua; ">
                            <h5>Discrete Mathematic</h5>
                        </div>
                        <div class="col-2 " style="background-color: aquamarine; ">
                            <svg width="34 " height="38 " viewBox="0 0 34 38 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path d="M17 9.5C19.3375 9.5 21.25 7.3625 21.25 4.75C21.25 2.1375 19.3375 0 17 0C14.6625 0 12.75 2.1375 12.75 4.75C12.75 7.3625 14.6625 9.5 17 9.5ZM17 14.25C14.6625 14.25 12.75 16.3875 12.75 19C12.75 21.6125 14.6625 23.75 17 23.75C19.3375
    23.75 21.25 21.6125 21.25 19C21.25 16.3875 19.3375 14.25 17 14.25ZM17 28.5C14.6625 28.5 12.75 30.6375 12.75 33.25C12.75 35.8625 14.6625 38 17 38C19.3375 38 21.25 35.8625 21.25 33.25C21.25 30.6375 19.3375 28.5 17 28.5Z " fill="black "/>
                </svg>
                        </div>
                    </div>

                    <div class="row mt-5 ">
                        <div class="col-4 " style="background-color: blueviolet; ">

                        </div>

                        <div class="col-4 text-end " style="background-color: brown; ">

                            <h5>Progress</h5>

                        </div>
                        <div class="col-4 " style="background-color: chartreuse; ">
                            <div class="circle ">
                                <div class="mt-4 "><span>21/22</div>
                </div>


            </div>

        </div>
    </div>
    <div class="card-body " style="height: 15vh; ">
      
        <p class="card-text mt-5 ">Assign To: Group 6</p>
    </div>

    <div class="card-footer bg-transparent border-secondary " style="height:7vh ">
        
       <div class="row ">    
            <div class="col-6 mt-2 " ><p class="h5 ">000111</p></div>

            <div  class="col-6 text-center btn btn-primary " >Copy Code</div>

       </div>
       
    </div>
</div>
</a>
</div>

<div class="col-4 ">
    <div class="card border-secondary mb-3 row mx-5 " style="max-width: 20rem; border-radius: 5%; ">
        <div class="card-header " style="height: 13vh; ">
            <div class="row ">
                <div class="col-10 " style="background-color: aqua; ">
                    <h5>Discrete Mathematic</h5>
                </div>
                <div class="col-2 " style="background-color: aquamarine; ">
                    <svg width="34 " height="38 " viewBox="0 0 34 38 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                    <path d="M17 9.5C19.3375 9.5 21.25 7.3625 21.25 4.75C21.25 2.1375 19.3375 0 17 0C14.6625 0 12.75 2.1375 12.75 4.75C12.75 7.3625 14.6625 9.5 17 9.5ZM17 14.25C14.6625 14.25 12.75 16.3875 12.75 19C12.75 21.6125 14.6625 23.75 17 23.75C19.3375
    23.75 21.25 21.6125 21.25 19C21.25 16.3875 19.3375 14.25 17 14.25ZM17 28.5C14.6625 28.5 12.75 30.6375 12.75 33.25C12.75 35.8625 14.6625 38 17 38C19.3375 38 21.25 35.8625 21.25 33.25C21.25 30.6375 19.3375 28.5 17 28.5Z " fill="black "/>
                    </svg>
                </div>
            </div>
    
            <div class="row mt-5 ">
                <div class="col-4 " style="background-color: blueviolet; ">
    
                </div>
    
                <div class="col-4 text-end " style="background-color: brown; ">
    
                    <h5>Progress</h5>
    
                </div>
                <div class="col-4 " style="background-color: chartreuse; ">
                    <div class="circle ">
                        <div class="mt-4 "><span>21/22</div>
                    </div>
    
    
                </div>
    
            </div>
        </div>
        <div class="card-body " style="height: 15vh; ">
          
            <p class="card-text mt-5 ">Assign To: Group 6</p>
        </div>
    
        <div class="card-footer bg-transparent border-secondary " style="height:7vh ">
            
           <div class="row ">    
                <div class="col-6 mt-2 " ><p class="h5 ">000111</p></div>
    
                <div  class="col-6 text-center " ><a href="# " class="btn btn-primary ">Copy Code</a></div>
    
           </div>
           
        </div>
    </div>
</div>

<div class="col-4 ">
    <div class="card border-secondary mb-3 mx-5 " style="max-width: 20rem; border-radius: 5%; ">
        <div class="card-header " style="height: 13vh; ">
            <div class="row ">
                <div class="col-10 " style="background-color: aqua; ">
                    <h5>Discrete Mathematic</h5>
                </div>
                <div class="col-2 " style="background-color: aquamarine; ">
                    <svg width="34 " height="38 " viewBox="0 0 34 38 " fill="none " xmlns="http://www.w3.org/2000/svg ">
            <path d="M17 9.5C19.3375 9.5 21.25 7.3625 21.25 4.75C21.25 2.1375 19.3375 0 17 0C14.6625 0 12.75 2.1375 12.75 4.75C12.75 7.3625 14.6625 9.5 17 9.5ZM17 14.25C14.6625 14.25 12.75 16.3875 12.75 19C12.75 21.6125 14.6625 23.75 17 23.75C19.3375
    23.75 21.25 21.6125 21.25 19C21.25 16.3875 19.3375 14.25 17 14.25ZM17 28.5C14.6625 28.5 12.75 30.6375 12.75 33.25C12.75 35.8625 14.6625 38 17 38C19.3375 38 21.25 35.8625 21.25 33.25C21.25 30.6375 19.3375 28.5 17 28.5Z " fill="black "/>
            </svg>
                </div>
            </div>

            <div class="row mt-5 ">
                <div class="col-4 " style="background-color: blueviolet; ">

                </div>

                <div class="col-4 text-end " style="background-color: brown; ">

                    <h5>Progress</h5>

                </div>
                <div class="col-4 " style="background-color: chartreuse; ">
                    <div class="circle ">
                        <div class="mt-4 "><span>21/22</div>
            </div>


        </div>

    </div>
</div>
<div class="card-body " style="height: 15vh; ">
  
    <p class="card-text mt-5 ">Assign To: Group 6</p>
</div>

<div class="card-footer bg-transparent border-secondary " style="height:7vh ">
    
   <div class="row ">    
        <div class="col-6 mt-2 " ><p class="h5 ">000111</p></div>

        <div  class="col-6 text-center " ><a href="# " class="btn btn-primary ">Copy Code</a></div>

   </div>
   
</div>
</div>
</div>
<div class="col-4 ">
<div class="card border-secondary mb-3 row mx-5 " style="max-width: 20rem; border-radius: 5%; ">
    <div class="card-header " style="height: 13vh; ">
        <div class="row ">
            <div class="col-10 " style="background-color: aqua; ">
                <h5>Discrete Mathematic</h5>
            </div>
            <div class="col-2 " style="background-color: aquamarine; ">
                <svg width="34 " height="38 " viewBox="0 0 34 38 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path d="M17 9.5C19.3375 9.5 21.25 7.3625 21.25 4.75C21.25 2.1375 19.3375 0 17 0C14.6625 0 12.75 2.1375 12.75 4.75C12.75 7.3625 14.6625 9.5 17 9.5ZM17 14.25C14.6625 14.25 12.75 16.3875 12.75 19C12.75 21.6125 14.6625 23.75 17 23.75C19.3375
    23.75 21.25 21.6125 21.25 19C21.25 16.3875 19.3375 14.25 17 14.25ZM17 28.5C14.6625 28.5 12.75 30.6375 12.75 33.25C12.75 35.8625 14.6625 38 17 38C19.3375 38 21.25 35.8625 21.25 33.25C21.25 30.6375 19.3375 28.5 17 28.5Z " fill="black "/>
                </svg>
            </div>
        </div>

        <div class="row mt-5 ">
            <div class="col-4 " style="background-color: blueviolet; ">

            </div>

            <div class="col-4 text-end " style="background-color: brown; ">

                <h5>Progress</h5>

            </div>
            <div class="col-4 " style="background-color: chartreuse; ">
                <div class="circle ">
                    <div class="mt-4 "><span>21/22</div>
                </div>


            </div>

        </div>
    </div>
    <div class="card-body " style="height: 15vh; ">
      
        <p class="card-text mt-5 ">Assign To: Group 6</p>
    </div>

    <div class="card-footer bg-transparent border-secondary " style="height:7vh ">
        
       <div class="row ">    
            <div class="col-6 mt-2 " ><p class="h5 ">000111</p></div>

            <div  class="col-6 text-center " ><a href="# " class="btn btn-primary ">Copy Code</a></div>

       </div>
       
    </div>
</div>
</div>
<div class="col-4 ">
    <div class="card border-secondary mb-3 mx-5 " style="max-width: 20rem; border-radius: 5%; ">
        <div class="card-header " style="height: 13vh; ">
            <div class="row ">
                <div class="col-10 " style="background-color: aqua; ">
                    <h5>Discrete Mathematic</h5>
                </div>
                <div class="col-2 " style="background-color: aquamarine; ">
                    <svg width="34 " height="38 " viewBox="0 0 34 38 " fill="none " xmlns="http://www.w3.org/2000/svg ">
            <path d="M17 9.5C19.3375 9.5 21.25 7.3625 21.25 4.75C21.25 2.1375 19.3375 0 17 0C14.6625 0 12.75 2.1375 12.75 4.75C12.75 7.3625 14.6625 9.5 17 9.5ZM17 14.25C14.6625 14.25 12.75 16.3875 12.75 19C12.75 21.6125 14.6625 23.75 17 23.75C19.3375
    23.75 21.25 21.6125 21.25 19C21.25 16.3875 19.3375 14.25 17 14.25ZM17 28.5C14.6625 28.5 12.75 30.6375 12.75 33.25C12.75 35.8625 14.6625 38 17 38C19.3375 38 21.25 35.8625 21.25 33.25C21.25 30.6375 19.3375 28.5 17 28.5Z " fill="black "/>
            </svg>
                </div>
            </div>

            <div class="row mt-5 ">
                <div class="col-4 " style="background-color: blueviolet; ">

                </div>

                <div class="col-4 text-end " style="background-color: brown; ">

                    <h5>Progress</h5>

                </div>
                <div class="col-4 " style="background-color: chartreuse; ">
                    <div class="circle ">
                        <div class="mt-4 "><span>21/22</div>
            </div>


        </div>

    </div>
</div>
<div class="card-body " style="height: 15vh; ">
  
    <p class="card-text mt-5 ">Assign To: Group 6</p>
</div>

<div class="card-footer bg-transparent border-secondary " style="height:7vh ">
    
   <div class="row ">    
        <div class="col-6 mt-2 " ><p class="h5 ">000111</p></div>

        <div  class="col-6 text-center " ><a href="# " class="btn btn-primary ">Copy Code</a></div>

   </div>
   
</div>
</div>
</div>
<div class="col-4 ">
<div class="card border-secondary mb-3 row mx-5 " style="max-width: 20rem; border-radius: 5%; ">
    <div class="card-header " style="height: 13vh; ">
        <div class="row ">
            <div class="col-10 " style="background-color: aqua; ">
                <h5>Discrete Mathematic</h5>
            </div>
            <div class="col-2 " style="background-color: aquamarine; ">
                <svg width="34 " height="38 " viewBox="0 0 34 38 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path d="M17 9.5C19.3375 9.5 21.25 7.3625 21.25 4.75C21.25 2.1375 19.3375 0 17 0C14.6625 0 12.75 2.1375 12.75 4.75C12.75 7.3625 14.6625 9.5 17 9.5ZM17 14.25C14.6625 14.25 12.75 16.3875 12.75 19C12.75 21.6125 14.6625 23.75 17 23.75C19.3375
    23.75 21.25 21.6125 21.25 19C21.25 16.3875 19.3375 14.25 17 14.25ZM17 28.5C14.6625 28.5 12.75 30.6375 12.75 33.25C12.75 35.8625 14.6625 38 17 38C19.3375 38 21.25 35.8625 21.25 33.25C21.25 30.6375 19.3375 28.5 17 28.5Z " fill="black "/>
                </svg>
            </div>
        </div>

        <div class="row mt-5 ">
            <div class="col-4 " style="background-color: blueviolet; ">

            </div>

            <div class="col-4 text-end " style="background-color: brown; ">

                <h5>Progress</h5>

            </div>
            <div class="col-4 " style="background-color: chartreuse; ">
                <div class="circle ">
                    <div class="mt-4 "><span>21/22</div>
                </div>


            </div>

        </div>
    </div>
    <div class="card-body " style="height: 15vh; ">
      
        <p class="card-text mt-5 ">Assign To: Group 6</p>
    </div>

    <div class="card-footer bg-transparent border-secondary " style="height:7vh ">
        
       <div class="row ">    
            <div class="col-6 mt-2 " ><p class="h5 ">000111</p></div>

            <div  class="col-6 text-center " ><a href="# " class="btn btn-primary ">Copy Code</a></div>

       </div>
       
    </div>
</div>
</div>
<div class="col-4 ">
    <div class="card border-secondary mb-3 mx-5 " style="max-width: 20rem; border-radius: 5%; ">
        <div class="card-header " style="height: 13vh; ">
            <div class="row ">
                <div class="col-10 " style="background-color: aqua; ">
                    <h5>Discrete Mathematic</h5>
                </div>
                <div class="col-2 " style="background-color: aquamarine; ">
                    <svg width="34 " height="38 " viewBox="0 0 34 38 " fill="none " xmlns="http://www.w3.org/2000/svg ">
            <path d="M17 9.5C19.3375 9.5 21.25 7.3625 21.25 4.75C21.25 2.1375 19.3375 0 17 0C14.6625 0 12.75 2.1375 12.75 4.75C12.75 7.3625 14.6625 9.5 17 9.5ZM17 14.25C14.6625 14.25 12.75 16.3875 12.75 19C12.75 21.6125 14.6625 23.75 17 23.75C19.3375
    23.75 21.25 21.6125 21.25 19C21.25 16.3875 19.3375 14.25 17 14.25ZM17 28.5C14.6625 28.5 12.75 30.6375 12.75 33.25C12.75 35.8625 14.6625 38 17 38C19.3375 38 21.25 35.8625 21.25 33.25C21.25 30.6375 19.3375 28.5 17 28.5Z " fill="black "/>
            </svg>
                </div>
            </div>

            <div class="row mt-5 ">
                <div class="col-4 " style="background-color: blueviolet; ">

                </div>

                <div class="col-4 text-end " style="background-color: brown; ">

                    <h5>Progress</h5>

                </div>
                <div class="col-4 " style="background-color: chartreuse; ">
                    <div class="circle ">
                        <div class="mt-4 "><span>21/22</div>
            </div>


        </div>

    </div>
</div>
<div class="card-body " style="height: 15vh; ">
  
    <p class="card-text mt-5 ">Assign To: Group 6</p>
</div>

<div class="card-footer bg-transparent border-secondary " style="height:7vh ">
    
   <div class="row ">    
        <div class="col-6 mt-2 " ><p class="h5 ">000111</p></div>

        <div  class="col-6 text-center " ><a href="# " class="btn btn-primary ">Copy Code</a></div>

   </div>
   
</div>
</div>
</div>
<div class="col-4 ">
<div class="card border-secondary mb-3 row mx-5 " style="max-width: 20rem; border-radius: 5%; ">
    <div class="card-header " style="height: 13vh; ">
        <div class="row ">
            <div class="col-10 " style="background-color: aqua; ">
                <h5>Discrete Mathematic</h5>
            </div>
            <div class="col-2 " style="background-color: aquamarine; ">
                <svg width="34 " height="38 " viewBox="0 0 34 38 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path d="M17 9.5C19.3375 9.5 21.25 7.3625 21.25 4.75C21.25 2.1375 19.3375 0 17 0C14.6625 0 12.75 2.1375 12.75 4.75C12.75 7.3625 14.6625 9.5 17 9.5ZM17 14.25C14.6625 14.25 12.75 16.3875 12.75 19C12.75 21.6125 14.6625 23.75 17 23.75C19.3375
    23.75 21.25 21.6125 21.25 19C21.25 16.3875 19.3375 14.25 17 14.25ZM17 28.5C14.6625 28.5 12.75 30.6375 12.75 33.25C12.75 35.8625 14.6625 38 17 38C19.3375 38 21.25 35.8625 21.25 33.25C21.25 30.6375 19.3375 28.5 17 28.5Z " fill="black "/>
                </svg>
            </div>
        </div>

        <div class="row mt-5 ">
            <div class="col-4 " style="background-color: blueviolet; ">

            </div>

            <div class="col-4 text-end " style="background-color: brown; ">

                <h5>Progress</h5>

            </div>
            <div class="col-4 " style="background-color: chartreuse; ">
                <div class="circle ">
                    <div class="mt-4 "><span>21/22</div>
                </div>


            </div>

        </div>
    </div>
    <div class="card-body " style="height: 15vh; ">
      
        <p class="card-text mt-5 ">Assign To: Group 6</p>
    </div>

    <div class="card-footer bg-transparent border-secondary " style="height:7vh ">
        
       <div class="row ">    
            <div class="col-6 mt-2 " ><p class="h5 ">000111</p></div>

            <div  class="col-6 text-center " ><a href="# " class="btn btn-primary ">Copy Code</a></div>

       </div>
       
    </div>
</div>
</div>
</div>

{% endblock %}