{% extends "topTitle.html" %} {% block title %} {% endblock %} {% block reportSummary %}

            <div class="titleCtnr"><b>Report</b></div>
            <div class="titleBox">
                <div class="titleBoxContent">
                    <b>Question</b>
                    <b style="margin-left: 35%;">Total Students Correct</b>
                    <b style="margin-left: 20%;">Total Students Wrong</b>
                    <hr/>
                    <b>Content</b><br><br>
                    <hr/>
                    <b>Content</b><br><br>
                    <hr/>
                    <b>Content</b><br><br>
                    <hr/>

                </div>

            </div>
        </div>

    {% endblock %}