{% extends "layout.html" %} {% block title %} {% endblock %} {% block content %}

    <div class="wrapper">
        <div class="sidebar">
            <img src="/static/img/logo.png" style="width:200px;height:auto;" >
            <ul>
                <li style="text-align:center;">
                    <a href="#" style="margin-top:30px"><img src="/static/img/teamwork1.svg" style="width:50px"> <div style="font-size: 25pt;">Features</div> 
                </li>
                <li style="text-align:center;">
                    <a href="#" style="margin-top:30px"><img src="/static/img/user1.svg" style="width:50px"> <div style="font-size: 25pt;">Profile</div> 
                </li>
                <li style="text-align:center; margin-top:430px;">
                    <a href="#" style="margin-top:30px; z-index: 1;"><img src="/static/img/logout1.svg" style="width:50px"> <div style="font-size: 25pt;">Logout</div> 
                </li>
            </ul> 
        </div>
        <div class="main_content">
            <div class="topleftbar"> <b class="topleftbardesc">className</b></div>
            <div class="titleCtnr"><b>Report</b></div>
            <div class="titleBox">
                <div class="titleBoxContent">
                    <b>Question</b>
                    <b style="margin-left: 600px;">Total Students Correct</b>
                    <b style="margin-left: 200px;">Total Students Wrong</b>
                    <hr/>
                    <br><br> <b>Content</b><br><br>
                    <hr/>
                    <br><br> <b>Content</b><br><br>
                    <hr/>
                    <br><br> <b>Content</b><br><br>
                    <hr/>

                </div>

            </div>
        </div>
    </div>

    {% endblock %}