{% extends "layout.html" %} {% block title %} {% endblock %} {% block content %} 

<div class="wrapper">
    <div class="sidebar">
        <div class="container pt-5">
            <img src="/static/img/logo.png">
        </div>
        <hr>
        </hr>

        <ul class="container pt-4 ">

            <li class="container text-center mb-4 ">
                <a href="# "><img src="/static/img/teamwork1.svg" style="margin-right: 5%;"> <span class="px-1 mx-1 navbar-words active">Features</span>
                </a>
            </li>
            <li class="container text-center mb-3 ">
                <a href="# "><img src="/static/img/user1.svg " style="padding-right: 1%;"> <span class="px-2 mx-3 navbar-words ">Profile</span>
                </a>

            </li>

            <li class="container text-center position-absolute  bottom-0 mb-5">
                <a href="# "><span  style="padding-right: 1%;"><svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50 25C50 38.8073 38.8073 50 25 50C11.1927 50 0 38.8073 0 25C0 11.1927 11.1927 0 25 0C38.8073 0 50 11.1927 50 25Z" fill="url(#paint0_linear_49:21)"/>
                    <path d="M30.5219 37.6133C30.5219 38.2252 30.024 38.7226 29.4125 38.7226H13.9031C13.2916 38.7226 12.7942 38.2252 12.7942 37.6133V12.3867C12.7942 11.7748 13.2916 11.2774 13.9031 11.2774H29.4125C30.024 11.2774 30.5219 11.7748 30.5219 12.3867V17.7128H33.4515V12.3867C33.4515 10.1593 31.6396 8.3477 29.4125 8.3477H13.9031C11.6761 8.3477 9.8645 10.1597 9.8645 12.3867V37.6133C9.8645 39.8403 11.6761 41.6523 13.9031 41.6523H29.4125C31.6396 41.6523 33.4515 39.8403 33.4515 37.6133V32.2872H30.5219V37.6133Z" fill="white"/>
                    <path d="M36.9421 18.681L34.8703 20.7527L37.6527 23.5352H21.2549V26.4648H37.6531L34.8703 29.2473L36.9421 31.319L43.2607 25L36.9421 18.681Z" fill="white"/>
                    <defs>
                    <linearGradient id="paint0_linear_49:21" x1="0" y1="25" x2="50" y2="25" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00F38D"/>
                    <stop offset="1" stop-color="#009EFF"/>
                    </linearGradient>
                    </defs>
                    </svg>
                </span>
                    <span class="px-4 mx-2 navbar-words">Logout</span>
                </a>
            </li>
        </ul>

    </div>
</div>
{% block mainmenu %} {% endblock %} 
{% block reportSummary %} {% endblock %} 
{% block questionSummary %} {% endblock %} 
{% block topTitle %} {% endblock %} 
{% endblock %}

 <!----------------

    TODO: 
    - Create the rest html from figma:
        - Display all classes for student
        - Display all classes for Admin
        - Create a quiz room for admin 
        - Join a quiz room by code for student (pop up window for input)
        - Profile page
        - Ranking page
        - In game interface (camera, 4 answer options )


    - create a topTitle.html ((Done
    - Link topTitle to appropriate page ((Done
    - separate css ((Done 
    - Structure all html files and css 
    - Link page to another page
    - make adjustment on visual PARTIALLY DONE
    - block content and endblock ((Done

    -------------------->