{% extends "sideNav.html" %} {% block topTitle %} {% if title == "Smart Quiz" %}


<div class=" col-10 " style="z-index: 1;">

    <!-- This h2 will shows the Page Title according to what the page is currently in.-->
    <div class="row topBarWithImg " style=" background-color: #36474f; z-index: 1;">
        <div class="pt-4">
            <h3>{{title}} </h3>
        </div>

    </div>

    {% block SmartQuiz %}{% endblock %}


</div>



{% elif title =="Answer" %}

<div class=" col-10 " style="z-index: 1;">
    <div class="row topleftbar">
        <div class="pt-4">
            <!-- This h2 will shows the Page Title according to what the page is currently in.-->
            {%if not ending%}
            <h3>{{question_no}}. {{questions|capitalize }}</h3>
            {%else%}
            <h3>Congratulation You have done all the Question</h3>
            {%endif%}

        </div>
    </div>
    {% block answering %}{% endblock %}
</div>


{% elif title =="Instruction" %}

<div class=" col-10 " style="z-index: 1;">
    <div class="row topleftbar">
        <div class="pt-4">
            <!-- This h2 will shows the Page Title according to what the page is currently in.-->
            <h3>{{title}} For Answering</h3>
        </div>
    </div>
    {% block instruction %} {% endblock %}
</div>




{% else %}


<div class=" col-10 " style="z-index: 1;">
    <div class="row topleftbar">
        <div class="pt-4">
            <!-- This h2 will shows the Page Title according to what the page is currently in.-->
            <h3>{{title}}</h3>
        </div>
    </div>
    {% block quiz %} {% endblock %} {% block createQuestion %} {% endblock %} {% block questionSummary %} {% endblock %} {% block reportSummary %} {% endblock %} {% endif %}

</div>
{% endblock %}