.forgot-pass {
    color: red;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.create-acc {
    color: black
}

.create-acc:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}